.second-button {
    background-color: #ffff;
    border: 1px solid #5460ff;
    color: #5460ff;
}

.second-button:hover {
    background-color: #232a5a;
    color: #ffffff;
    border: 1px solid #232a5a;
}