.select-input {
    height: 54px;
    padding: 10px 15px;
    font-weight: 400;
    border: 2px solid #86868b;
    outline: none;
    border-radius: 15px;
    font-size: 16px;
    background-color: #ffffff;
}

.select-input:focus {
    border: 1px solid #5460ff;
}